<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>Browsersync, Gulp + Swig templates</title>
    <link rel='stylesheet' href='css/main.css'>
</head>
<body>
<h1>$data.title!</h1>
<p>44 55 66 77testinf MARK tere talv</p>
</body>
</html>